In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
import engine

### Funciona GVNS : YES

In [2]:
grasp = engine.GRASP()

AMPARO = engine.Instance("/home/adrian/UNIVERSIDAD/4to_Curso/A.MIO/PROJECT/pythoncode/MDP_instances/Amparo.xlsx")
BORJA = engine.Instance("/home/adrian/UNIVERSIDAD/4to_Curso/A.MIO/PROJECT/pythoncode/MDP_instances/Borja.xlsx")
DANIEL = engine.Instance("/home/adrian/UNIVERSIDAD/4to_Curso/A.MIO/PROJECT/pythoncode/MDP_instances/Daniel.xlsx")
EMILIO = engine.Instance("/home/adrian/UNIVERSIDAD/4to_Curso/A.MIO/PROJECT/pythoncode/MDP_instances/Emilio.xlsx")
JOSE = engine.Instance("/home/adrian/UNIVERSIDAD/4to_Curso/A.MIO/PROJECT/pythoncode/MDP_instances/Jose.xlsx")
MARIAJESUS = engine.Instance("/home/adrian/UNIVERSIDAD/4to_Curso/A.MIO/PROJECT/pythoncode/MDP_instances/MariaJesus.xlsx")
RAQUEL = engine.Instance("/home/adrian/UNIVERSIDAD/4to_Curso/A.MIO/PROJECT/pythoncode/MDP_instances/Raquel.xlsx")
VIRGINIA = engine.Instance("/home/adrian/UNIVERSIDAD/4to_Curso/A.MIO/PROJECT/pythoncode/MDP_instances/Virginia.xlsx")

In [3]:
alphas = np.array([0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1])

In [4]:
instancias = [AMPARO, BORJA, DANIEL, EMILIO, JOSE, MARIAJESUS, RAQUEL, VIRGINIA]
nombres = ["AMPARO", "BORJA", "DANIEL", "EMILIO", "JOSE", "MARIAJESUS", "RAQUEL", "VIRGINIA"]

In [ ]:
i = 0

primera = True
for instancia in instancias:
    for alpha in alphas:
        
        paquete = np.array(grasp.perform_during(instancia.matrix, alpha, 4*60))
        columna1 = nombres[i] + f"{alpha}"
        columna2 = "Time"+ nombres[i] + f"{alpha}"
    
        if primera:
            DF = pd.DataFrame(paquete.transpose(), columns=[columna1, columna2])
            primera = False
        else:
            DF = pd.concat([DF, pd.DataFrame(paquete.transpose(), columns=[columna1, columna2])], axis=1)
    i+=1

for i in range(len(data_AMP_BOR[0])):
    plt.plot(data_AMP_BOR[0][i][1], data_AMP_BOR[0][i][0], label =f"{i} alpha")
    
plt.title("AMPARO")
plt.legend()
plt.grid()
plt.show()

for i in range(len(data_AMP_BOR[0])):
    plt.plot(data_AMP_BOR[1][i][1], data_AMP_BOR[1][i][0], label =f"{i} alpha")
    
plt.title("BORJA")
plt.legend()
plt.grid()
plt.show()

In [20]:
8 * 44 /60

5.866666666666666

In [24]:
x = 2
alpha = f"{x}"
alpha

'2'

In [8]:
#bestia = engine.GVNS()

In [9]:
#maximos, tiempos = bestia.perform_GVNS_during(AMPARO.matrix, 60, 4)

In [10]:
#plt.plot(tiempos, maximos)
#plt.show()
#len(maximos)
#maximos

#### Performance -> DataFrame -> csv -> seaborn

In [23]:
x = [1,2,3,4,5]
y = [12,23,1,23,4]
xy = np.array([x,y])
calibrate_alpha_df = pd.DataFrame(xy.transpose(), columns = ["AMPARO 0.1", "TimeAMPARO 0.1"])

x1 = [0,2,3]
y1 = [4,5,6]
x1y1 = np.array([x1,y1])
df = pd.DataFrame(x1y1.transpose(), columns = ["hola", "adios"])

DF = pd.concat([calibrate_alpha_df, df], axis=1)
prueba = pd.concat([DF], axis=1)
prueba

   AMPARO 0.1  TimeAMPARO 0.1  hola  adios
0           1              12   0.0    4.0
1           2              23   2.0    5.0
2           3               1   3.0    6.0
3           4              23   NaN    NaN
4           5               4   NaN    NaN

In [19]:
def prueba(a,b):
    return a, b

prueba([1],[1,2])

([1], [1, 2])

In [29]:
t=time.time()
tt = int(t)
tt % 3600

2097

In [31]:
int(8.6)

8